// Screen sizes
$screenXl: 1200px;
$screenLg: 1024px;
$screenMd: 768px;
$screenSm: 480px;

// Colors
$colorPrimary: #e0e0e0;
$colorSecondary: #2c5d63;
$colorTertiary: #a2c11c;
$colorQuaternary: #283739;
