@import 'variables';

.welcomePage {
  max-width: 1200px;
  display: flex;
  flex-direction: column;

  h1,
  h2 {
    margin: 1rem 0;
  }

  p {
    margin: 5rem 0 1rem 0;
    align-self: center;
  }

  .iconWrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .icon {
    height: 50px;
    width: 50px;
    color: $colorTertiary;
    background-color: $colorPrimary;
    border-radius: 12px;
    padding: 5px;
  }
}
